body {
	background-color: #eee;
}

header {
	text-align: center;
	width: 100%;
	background-color: #fff;
	padding: 1em;
	border-bottom: 1px solid #ddd;
}

main {
	max-width: 45em;
	margin: 2em auto;
}

form.auth {
	max-width: 20em;
	margin: 5em auto 0 auto;
}

form.auth input[type=text], form.auth input[type=password], form.auth input[type=submit] {
	margin: 0.5em 0;
}

form.auth input[type=text], form.auth input[type=password] {
	width: 100%;
}

form.consent input[type=submit] {
	margin: 1em 0;
}

dl {
	padding: 1em;
	border: 1px solid #ddd;
	background-color: #fff;
}

dl ul {
	list-style: none;
	margin: 0;
}

footer {
	text-align: center;
	font-size: 85%;
	margin: 3em 0 1em 0;
}