header {
	text-align: center;
	width: 100%;
	background-color: #f8f8f8;
	padding: 1em;
    border-bottom: 1px solid #ccc;
}

main {
	max-width: 45em;
	margin: 1em auto;
    padding: 0.5em;
}

div.auth {
    max-width: 20em;
    margin: 0 auto;
}

div.auth form input[type=text], div.auth form input[type=password], div.auth form input[type=submit], form.consent input[type=submit] {
	margin: 0.5em 0;
}

div.auth form input[type=text], div.auth form input[type=password] {
	width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
}

div.auth form input[type=submit], form.consent input[type=submit] {
    padding: 0.4em 1em;
    border: 1px solid #ccc;
	background-color: #f8f8f8;
}

div.auth form input[type=submit]:focus, form.consent input[type=submit]:focus {
    outline: 1px solid #888;
}

details {
    margin: 0.5em 0;
}

dl {
	padding: 1em;
	border: 1px solid #ddd;
}

dl ul {
	list-style: none;
}

footer {
	text-align: center;
	font-size: 75%;
    margin-bottom: 1em;
}
