/* 
 * we took a lot of inspiration from picocss, it is super nice, highly
 * recommended!
 */
:root {
  --text-color: #333;
  --primary-color: #0172ad;
  --success-color: #4c9b8a;
  --error-color: #b86a6b;
  --warning-color: #f58800;
  --default-border-radius: 0.25em;
  --default-border-color: #e7eaf0;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ccc;
    --primary-color: #0172ad;
    --success-color: #4c9b8a;
    --error-color: #b86a6b;
    --warning-color: #f58800;
    --default-border-radius: 0.25em;
    --default-border-color: #b7b7b7;
    --background-color: #333;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 120%;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  margin-bottom: 3em;
}

main {
  max-width: 60em;
  margin: 0 auto;
}

main h1 {
  text-align: center;
}

a {
  color: var(--primary-color);
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.5em;
}

header nav ul li a {
  text-decoration: none;
}

header nav :first-child {
  text-align: start;
}

header nav :last-child {
  text-align: end;
}

main {
  padding: 0 0.5em;
}

header nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
  header nav {
    grid-template-columns: 1fr 3fr 1fr;
  }
  main {
    padding: 0;
  }
  .dialog {
    max-width: 20em;
    margin: 0 auto;
  }
}

header nav {
  align-content: end;
}

main table {
  width: 100%;
  border-collapse: collapse;
}

main table .end {
  text-align: end;
}

main table td, main table th {
  padding: 1em;
}

main table tr {
  border-bottom: 1px solid var(--default-border-color);
}

main table thead {
  border-bottom: 3px solid var(--default-border-color);
}

main table th {
  text-align: start;
}

footer {
  margin-top: 2em;
  text-align: center;
}

span.badge {
  padding: 0.5em;
  border-radius: var(--default-border-radius);
  margin: 0 0.25em;
}

span.success, button.success {
  background-color: var(--success-color);
  border-color: var(--success-color);
  color: white;
}

span.error, button.error {
  background-color: var(--error-color);
  border-color: var(--error-color);
  color: white;
}

span.warning, button.warning {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
  color: white;
}

details {
  margin: 1em 0;
}

summary {
  cursor: pointer;
  color: var(--primary-color);
}

summary.warning {
  color: var(--warning-color);
}

dl dd {
  margin: 1em;
}

form {
  margin: 1em 0;
}

table form {
  margin: 0;
}

pre, code {
  font-size: 1rem;
}

table form button {
  margin: 0;
}

form fieldset {
  padding: 0;
  border: 0;
  margin: 0 0 0.5em 0;
}

form fieldset legend {
  padding: 0.5em 0;
  font-weight: bold;
}

form button {
  padding: 0.5em;
  border-radius: var(--default-border-radius);
  border: 1px solid var(--primary-color);
  margin: 0.5em 0;
  background-color: var(--primary-color);
  color: white;
  font-size: 1em;
  cursor: pointer;
}

form input[type="text"], form input[type="password"], form textarea, form select {
  padding: 0.5em;
  border-radius: var(--default-border-radius);
  border: 1px solid var(--default-border-color);
  margin: 0.5em 0;
  width: 100%;
  font-size: 1em;
  background-color: var(--background-color);
  color: var(--text-color);
}

label {
  display: block;
}

form input[type="checkbox"] {
  display: inline-block;
}

sup {
  color: var(--error-color);
}
