div.header {
    margin: 2rem 0;
}

div.auth, div.consent, div.error {
    background-color: #fefefe;
    margin: 3rem auto 1em auto;
    max-width: 30rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    padding: 2rem;
}

div.consent {
    max-width: 50rem;
}

h1 {
    text-align: center;
}

form {
    width: 100%;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    margin-bottom: 1em;
}

table {
    width: 100%;
}

th, td {
    padding: 0.5em;
}

th {
    vertical-align: top;
}

ul {
    padding-left: 1rem;
}

div.footer {
    text-align: center;
    font-size: 85%;
    color: #888;
}

div.footer a {
    color: #444;
}
