<?php

return [
    // list of registered SPs
    'spList' => [
        // the entityID of the SP
        'https://vpn.tuxed.net/simplesaml/module.php/saml/sp/metadata.php/default-sp' => [
            'AssertionConsumerServiceURL' => 'https://vpn.tuxed.net/simplesaml/module.php/saml/sp/saml2-acs.php/default-sp',
        ],
    ],

    'plainAuth' => [
        'foo' => [
            'authPassHash' => '$2y$10$CKqxVMf4jdlRTWQokL09r./gAM//gpEPjQt9D2TISIydVVsOc39e2',
            //'attributeList' => []
        ],
    ],
];
