<?php

return [
    // IdP Metadata
    'metaData' => [
        'displayNameList' => [
            'en' => 'My IdP',
            'nl' => 'Mijn IdP',
        ],
        'logoList' => [
            'en' => [
                // dummy 1x1 PNG logo as data URI
                'logoWidth' => 1,
                'logoHeight' => 1,
                'logoUri' => 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVQIHWPoAAAAigCJeHTQWgAAAABJRU5ErkJggg==',
            ],
        ],
        'informationUrlList' => [
            'en' => 'https://example.org',
        ],
        'technicalContact' => 'technical@example.org',
    ],

    // Subject Identifier Scope & <shibmd:Scope>
    // XXX maybe introduce @SCOPE@ variable for in in attributes
    // XXX should this be multi value?! How to decide?
    'identifierScope' => 'example.org',

    // secret salt used to generate a subject identifier
    // use php bin/generate-salt.php to generate a suitable salt
    // XXX use a file for this, and do it automatically on package install
    'secretSalt' => '__REPLACE_ME__',

    // the attribute used to generate a subject identifier
    'identifierSourceAttribute' => 'uid',
    //'identifierSourceAttribute' => 'uidNumber',

    'authMethod' => 'simpleAuth',

    // Simple Auth
    'simpleAuth' => [
        'foo' => [
            'authPassHash' => '$2y$10$CKqxVMf4jdlRTWQokL09r./gAM//gpEPjQt9D2TISIydVVsOc39e2',
            'attributeList' => [
                'uid' => ['foo'],
                'displayName' => ['Foo Bar'],
                'mail' => ['foo@example.org'],
            ],
        ],
    ],

    // LDAP Auth
    'ldapAuth' => [
        'ldapUri' => 'ldaps://ipa.example.org',
        'userDnTemplate' => 'uid={{UID}},cn=users,cn=accounts,dc=example,dc=org',
    ],
];
