<?php

return [
    // only transient NameID
    'https://sp.example.org/saml' => [
        'acsUrl' => 'https://sp.example.org/acs',
        'sloUrl' => 'https://sp.example.org/slo',
    ],

    // eduPersonTargetedId & transient NameID
    'https://sp.example.org/saml' => [
        'acsUrl' => 'https://sp.example.org/acs',
        'sloUrl' => 'https://sp.example.org/slo',
        'attributeRelease' => [
            'eduPersonTargetedId',
            // Pairwise Subject Identifier
            'pairwise-id',
        ],
    ],

    // mail & transient NameID
    'https://sp.example.org/saml' => [
        'acsUrl' => 'https://sp.example.org/acs',
        'sloUrl' => 'https://sp.example.org/slo',
        'attributeRelease' => [
            'mail',
        ],
    ],

    // SURFconext
    'https://engine.surfconext.nl/authentication/sp/metadata' => [
        'displayName' => [
            'en' => 'SURFconext',
        ],
        'acsUrl' => 'https://engine.surfconext.nl/authentication/sp/consume-assertion',
        'attributeRelease' => [
            'uid',
            'schacHomeOrganization',
            'mail',
            'cn',
        ],
        // SURFconext requires the use of these exact URNs, they do not support
        // the standard urn:oid format...
        'attributeMapping' => [
            'uid' => 'urn:mace:dir:attribute-def:uid',
            'mail' => 'urn:mace:dir:attribute-def:mail',
            'cn' => 'urn:mace:dir:attribute-def:cn',
            'schacHomeOrganization' => 'urn:mace:terena.org:attribute-def:schacHomeOrganization',
        ],
        'staticAttributeList' => [
            'schacHomeOrganization' => ['example.org'],
        ],
    ],
];
